@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.word {
  color: transparent;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.word.active {
  color: white;
  opacity: 1;
}

.V4L1 {
  animation: vector1 5s infinite;
}
.V5L3 {
  animation: vector2 5s infinite;
  animation-delay: 2s;
}
.V7L1 {
  animation: vector1 5s infinite;
}

.V3L2 {
  animation: vector2 5s infinite;
  animation-delay: 1s;
}

.V2L2 {
  animation: vector2 5s infinite;
}

.V1L3 {
  animation: vector2 5s infinite;
}

@keyframes vector1 {
  0% {
    transform: translateX(0px) translateY(0px);
    scale: 1.2;
  }
  50% {
    transform: translateX(200px) translateY(50px);
    scale: 0.5;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    scale: 1.2;
  }
}

@keyframes vector2 {
  0% {
    transform: translateX(200px);
    scale: 1.2;
  }
  50% {
    transform: translateX(0px);
    scroll-behavior: 0.5;
  }
  100% {
    transform: translateX(200px);
    scale: 1.2;
  }
}
